.pio/
masterlogger/lib/DmsCommon/
slavelogger/lib/DmsCommon/
.vscode/
__pycache__/
*.pyc
secrets.h
*.dmslog
*.csv
!masterlogger/*.csv
!slavelogger/*.csv
!tools/examples/*.csv
!tools/examples/*.dmslog
docs/wiring/